# Hardhat networks
PRIVATE_KEY=
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=

# Provide tokens to create pool. If empty, deploy.js may deploy helpers via PoolManager
TOKEN0=
TOKEN1=
